@import "../../style.scss";

.stories {
  display: flex;
  width: 50vw;
  gap: .625rem;
  height: 9.375rem;
  margin-bottom: 1.875rem;
  overflow: scroll;


  @media  (max-width: 30rem) {
    width: 100vw;
    height: 3.125rem;
    margin-bottom: .9375rem;
    margin-left: .3125rem;
    overflow: scroll;
  }

  @media (min-width: 30rem) and (max-width: 60rem) {

    height: 6.25rem;
    margin-bottom: .9375rem;
    margin-left: .625rem;
    width: 70vw;
    overflow: scroll;
  }

  
@media (min-width: 60rem) and (max-width: 64rem) {
  width: 50vw;
  height: 9.375rem;
  overflow: scroll;
  }

  // &::-webkit-scrollbar {
  //   display: none;
  // }

  

  .story {
    flex: none;
   width: 4.375rem;
    border-radius: .625rem;
    overflow: hidden;
    position: relative;

    @media (max-width: 30rem) {
      flex: none;
      width: 3.125rem;
      height: 3.125rem;
      border-radius: 50%;
    }
  
    @media (min-width: 30rem) and (max-width: 60rem) {
      flex: none;
      width: 4.375rem;
      height: 100%;
    }
  
    
  @media (min-width: 60rem) and (max-width: 64rem) {
      flex: none;
      width: 4.375rem;
      height: 100%;
    }
    

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
    span {
      position: absolute;
      bottom: .625rem;
      left: .625rem;
      color: white;
      font-weight: 500;
      @include mobile {
        display: none;
      }
    }

    button {
      position: absolute;
      bottom: 1.25rem;
      left: 1.25rem;
      color: white;
      background-color: #5271ff;
      border: none;
      border-radius: 50%;
      width: 1.875rem;
      height: 1.875rem;
      cursor: pointer;
      font-size: 1.875rem;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
       left: 0;
       right: 0;
       top: 0;
       bottom: 0;
       margin: auto;
      }
    }
  }
}
