@import "../../style.scss";

.home{
  @include themify($themes) {
    margin: 0;
    padding: 1.25rem 0;
    background-color: themed("bgSoft");
    min-height: 100vh;

    @media  (max-width: 480px) {

    }


    @media (min-width: 960px) and (max-width: 1024px) {
      flex: 3;
    }

    @media (min-width: 1024px) {
      padding: 1.25rem;
    }
  }
 }