@import "../../style.scss";

.share {
  @include themify($themes) {
    -webkit-box-shadow: 0rem 0rem 1.5625rem -0.625rem rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0rem 0rem 1.5625rem -0.625rem rgba(0, 0, 0, 0.38);
    box-shadow: 0rem 0rem 1.5625rem -0.625rem rgba(0, 0, 0, 0.38);
    border-radius: 1.25rem;
    background-color: themed("bg");
    color: themed("textColor");
    margin-bottom: 1.25rem;

    @media (max-width: 960px) {
       border-radius: 0;
    }

    .container {
      display: flex;
      flex-direction: column;
      padding: 1.25rem;

      @media  (max-width: 30rem) {
       padding: 0.5rem;
        }
    
        @media (min-width: 30rem) and (max-width: 60rem) {
         
        }
    
        
      @media (min-width: 60rem) and (max-width: 64rem) {
    
        }
      .top {
        display: flex;

        align-items: center;
        justify-content: center;

        @media  (max-width: 30rem) {
          width: 70%;
           }

        .left {
          display: flex;
          align-items: center;
          flex: 3;
          img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            object-fit: cover;
          }

          input {
            border: none;
            outline: none;
            padding: 1.25rem .5rem;
            background-color: transparent;
            width: 70%;
            color: themed("textColor");

            @media  (max-width: 30rem) {
              padding: 0.5rem;
               }
          }
        }
        .right {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          .file {
            width: 6.25rem;
            height: 6.25rem;
            object-fit: cover;
            border-radius: 0rem;
          }
        }
      }

      hr {
        margin: 1.25rem 0rem;
        border: none;
        height: .0313rem;
        background-color: themed("border");

        @media  (max-width: 30rem) {
          margin: 0.5rem 0;
           }
      }

      .bottom {
        display: flex;
        align-items: center;
       justify-content: space-between;

    //    @media (max-width: 30rem) {

    //    }

    //    @media (min-width: 30rem) and (max-width: 60rem) {
     
    //    }
   
       
    //  @media (min-width: 60rem) and (max-width: 64rem) {
    //     justify-content: space-between;
    //    }
        .left {
          display: flex;
          align-items: center;
          gap: 10px;

          .item {
            display: flex;
            align-items: center;
            gap: .3125rem;
            cursor: pointer;

            img {
              width: 1rem;
              height: 1.25rem;
            }

            span {
              font-size: .5rem;
              color: gray;
            }
          }
        }
        .right {
          button {
            border: none;
            font-size: 0.65rem;
            padding: .3125rem;
            color: white;
            cursor: pointer;
            background-color: #5271ff;
            border-radius: .1875rem;
          }
        }
      }
    }
  }
}
